<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head.html :: head}"></head>
<body>

<header th:replace="~{fragments/Header.html::header}"></header>
<main class="d-flex flex-column align-items-center rounded">
    <h2>User</h2>

    <table class="table table-striped table-dark" style="width: 90%">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">username</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <th th:text="${user.getId()}"></th>
            <th th:text="${user.getUsername()}"></th>
            <th>
                <a th:href="@{/annonce/user/setstatut/{id}(id = ${user.getId()})}" th:class="${user.isActive()}? 'btn btn-outline-info' : 'btn btn-outline-danger'">Status</a>
                <a th:href="@{/annonce/user/setadmin/{id}(id = ${user.getId()})}" th:class="${user.isAdmin()}? 'btn btn-outline-info' : 'btn btn-outline-danger'">Admin</a>
            </th>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>